<%- include("partials/Header"); -%>

    <div class="container-fluid firstContainer">
      <div class="circle" id="circle1"></div>
      <div class="mainContent">
        <h1 id="mainHeading">Lexicon</h1>
        <h3 id="tagline">Your Personal Dictionary</h3>
      </div>
      <img id="scrabbleImg" src="images/vocabulary6.jpg" alt="scrabble">
      <div class="circle" id="circle2"></div>
    </div>

<%- include("partials/Footer"); -%>
